@import '../../themes/constants';
@import '../../themes/animations';

.statement {
	position: relative;
	text-align: center;
	@include animation(fadeInUp cubic-bezier(0.4, 0, 0.2, 1) 3s);

	.card {
		margin: -$ribbonHeight*1.5 auto 0;
		background: white;
		padding: $padding*4 $padding*2;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

		.headline {
			white-space: nowrap;

			* {
				display: inline-block;
				height: $ribbonHeight;
				line-height: $ribbonHeight;
				font-size: 30px;
			}

			span {
				height: $ribbonHeight;
				line-height: $ribbonHeight;
			}

			h1 {
				&.hightlight {
					background: $primaryColor;
				}
			}
		}

		@media only screen and (max-width: 600px) {
		    margin: 0 auto;
		    box-shadow: none;
		    .headline  {
		    	* {
		    		font-size: 18px;
		    	}
			}
		}
	}
}


			
