$bgColor: #4f4d4c;
$secondBgColor: rgb(37,37,37);
$fgColor: #fcfcf9;

$heroFontColor: rgb(26, 26, 26);
$fontColor: rgb(134,133,133);
$borderColor: rgb(222, 222, 222);

$tmlColor: rgb(249, 38, 111);

$firstColor: rgb(250, 249, 112);
$secondColor: rgb(144, 32, 109);
$thirdColor: rgb(51, 163, 194);
$fourthColor: rgb(195, 42, 45);
$fifthColor: rgb(219, 149, 74);
$sixthColor: rgb(93, 182, 79);

$primaryColor: #4a9ff1;
$priceColor: #d65b00;

$fontFamily: 'Montserrat', sans-serif;
$secondaryFontFamily: 'Montserrat', sans-serif;

$ribbonHeight: 50px;
$sidenavWidth: 200px;
$viewHeight: calc(100% - #{$ribbonHeight});

$padding: 10px;

$borderRadius: 10px;
